<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>password_reset</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale-1.0" shrink-to-fit=no>
    <style>
html,body{
    height: 100%;
    color: white;
<!--    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),-->
<!--    url("/static/images/law1.jpg");-->
}

#container{
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
    </style>
</head>
<body style="background-color:#d9d9d9;">
<div class="col-md-12" >
    <h2 style="color:maroon;">Password reset sent</h2>
    <p style="color:maroon;">Your password has been set. You may now go ahead and log in now.</p>
    <a href="{% url 'login' %}">Log-in</a>
</div>
<script src="{% static 'js/jquery-3.4.1.slim.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>