<!DOCTYPE html>
{% load static %}
{% load crispy_forms_tags %}
<html>
<head>
    <title>password_reset</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale-1.0" shrink-to-fit=no>
    <style>
html,body{
    height: 100%;
    color: white;
<!--    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),-->
<!--    url("/static/images/law1.jpg");-->
}

#container{
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
    </style>
</head>
<body style="background-color:#d9d9d9;">
<div class="col-md-12" >
    <p><h5 style="color:maroon;">Forgotten your password? Enter your e-mail address below, and we will email instructions for setting a new one.</h5></p>
    <form  action="#" method="post" class="bg-dark p-5 rounded">
        <fieldset class="form-group">
            <div class="border-bottom pt-3"><h2>password_reset</h2></div><br>
        {% csrf_token %}
        {{ form|crispy }}
        </fieldset>
        <div class="form-group">
        <button class="btn btn-outline-info" type="submit">send</button>
        </div>
         <div class="border-top pt-3">
    </div>
    </form>
</div>
<script src="{% static 'js/jquery-3.4.1.slim.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>