<!DOCTYPE html>
{% load static %}
{% load crispy_forms_tags %}
<html>
<head>
    <title>Tetakenya Homepage</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.css' %}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale-1.0" shrink-to-fit=no>
    <style>
html,body{
    height: 100%;
    color: white;
<!--    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),-->
<!--    url("/static/images/law1.jpg");-->
}

#container{
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

    </style>
</head>
<body style="background-color:#d9d9d9;">
{% include 'law common_templates/nav-bar.html' %}
<div>
    <div class="jumbotron" style="background-color:white;">
        <h3 style="text-align:center;color:brown;">Note!!!</h3>
        <p style="font-size:14px;color:brown;"><strong>* Once you sign-up as a lawyer you will be required to pay a monthly subscription fee of Kshs 300/= so clients can view your profile. </strong></p>
          <p style="font-size:14px;color:brown;"><strong>* More information on payment will be given at your account homepage after signing up. </strong></p>
    </div>
</div>
<div>
    <form action="{% url 'lawyer_register' %}" method="post" class="bg-dark p-5 rounded">
        <fieldset class="form-group">
            <div class="border-bottom pt-3"><h2>Register Now</h2></div>
            <br>
            {% csrf_token %}
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Sign Up</button>
        </div>
        <div class="border-top pt-3">
            <small class="text-muted">
                Already Have an Account? <a class="ml-2" href="{% url 'login' %}">Log In</a>
            </small>
        </div>
    </form>
</div>

<script src="{% static 'js/jquery-3.4.1.slim.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>